{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary bg-gradient">
          <div class="card-body">
            <h1 class="mb-4">Create Shop</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary animate__animated animate__pulse animate__infinite">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

